USE [master]
GO
/****** Object:  Database [MusicRadioDB]    Script Date: 25/02/2021 1:41:46 a. m. ******/
CREATE DATABASE [MusicRadioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicRadioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusicRadioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicRadioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusicRadioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicRadioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicRadioDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumSet]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.AlbumSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Direction] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Id] [nvarchar](128) NOT NULL,
	[OrderStatus] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Purchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDatail]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDatail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[AlbumSetId] [int] NOT NULL,
	[ClientId] [nvarchar](10) NOT NULL,
	[PurchaseId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseDatail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongSet]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AlbumSetId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SongSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlbumSet] ON 

INSERT [dbo].[AlbumSet] ([Id], [Name], [Image], [Price]) VALUES (4, N'Queen7', N'20210224201518205.png', CAST(90000.00 AS Decimal(18, 2)))
INSERT [dbo].[AlbumSet] ([Id], [Name], [Image], [Price]) VALUES (5, N'Rock', N'20210224104521908.jpg', CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[AlbumSet] ([Id], [Name], [Image], [Price]) VALUES (8, N'Star Wars', N'20210225052223570.jpg', CAST(90000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[AlbumSet] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'D31ECC55-08A1-4B44-ADE1-C6DF87EB6103', N'Cliente')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'340223A3-0241-4A1B-B9A6-9A42C613AE15', N'DirectorInventario')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8de57dfe-5a2e-4f5b-a6e6-b2be90e85830', N'340223A3-0241-4A1B-B9A6-9A42C613AE15')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6336887b-f9d7-42c3-9ac3-9b9280804e58', N'D31ECC55-08A1-4B44-ADE1-C6DF87EB6103')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'80ca7e26-867c-487f-8260-5add0c16fd40', N'D31ECC55-08A1-4B44-ADE1-C6DF87EB6103')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6336887b-f9d7-42c3-9ac3-9b9280804e58', N'cliente.004@gmail.com', 0, N'AFl5gL2UOTsHtV4j+hAYuP6OnuMvQLFiIyzGDBpqeU515bkLwQOi65QmTfuzVngZlQ==', N'e547404b-9703-4eda-98ee-6315489a5bc7', NULL, 0, 0, NULL, 1, 0, N'cliente.004@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'80ca7e26-867c-487f-8260-5add0c16fd40', N'cliente.003@gmail.com', 0, N'AON0GlNk1H/vwT4ItRg++Gjp7W+cMpEsQWaVuF4dealPuF01Qgd88LtpKQPclI56Bw==', N'c8c1e55b-7466-4c4f-a42f-3d4d53ffda5a', NULL, 0, 0, NULL, 1, 0, N'cliente.003@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'8de57dfe-5a2e-4f5b-a6e6-b2be90e85830', N'admin.radio@gmail.com', 0, N'AC4RlfT79Jpx5GJOSeidwsLWEA29DLrdHqYMXoGMl/YzBm1zGJT36Qc7MLnRL+UW5w==', N'd8f732b2-e491-4c5a-af16-461b6c3fd178', NULL, 0, 0, NULL, 1, 0, N'admin.radio@gmail.com')
GO
INSERT [dbo].[Client] ([Id], [Name], [Mail], [Direction], [Phone], [UserId]) VALUES (N'78095122', N'Pepito2 Perez', N'cliente.002@gmail.com', N'Casa', N'3001234562', N'98c7e65c-0ece-4b78-8f3d-ab2f2a56eb63')
INSERT [dbo].[Client] ([Id], [Name], [Mail], [Direction], [Phone], [UserId]) VALUES (N'7809512300', N'Pachaco Lopéz', N'cliente.001@gmail.com', N'Calle 23B # 45 -78', N'3001234567', N'fc40a39b-a05b-4555-95e5-6d1637efd6a1')
INSERT [dbo].[Client] ([Id], [Name], [Mail], [Direction], [Phone], [UserId]) VALUES (N'78095126', N'Pepito Perez', N'cliente.003@gmail.com', N'Casa', N'67567556', N'80ca7e26-867c-487f-8260-5add0c16fd40')
GO
SET IDENTITY_INSERT [dbo].[SongSet] ON 

INSERT [dbo].[SongSet] ([Id], [Name], [AlbumSetId]) VALUES (3, N'something', 4)
INSERT [dbo].[SongSet] ([Id], [Name], [AlbumSetId]) VALUES (7, N'Comelon', 5)
INSERT [dbo].[SongSet] ([Id], [Name], [AlbumSetId]) VALUES (8, N'something', 8)
SET IDENTITY_INSERT [dbo].[SongSet] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlbumSetId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AlbumSetId] ON [dbo].[PurchaseDatail]
(
	[AlbumSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClientId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[PurchaseDatail]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PurchaseId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseId] ON [dbo].[PurchaseDatail]
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlbumSetId]    Script Date: 25/02/2021 1:41:47 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AlbumSetId] ON [dbo].[SongSet]
(
	[AlbumSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ('') FOR [UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PurchaseDatail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDatail_dbo.AlbumSet_AlbumSetId] FOREIGN KEY([AlbumSetId])
REFERENCES [dbo].[AlbumSet] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseDatail] CHECK CONSTRAINT [FK_dbo.PurchaseDatail_dbo.AlbumSet_AlbumSetId]
GO
ALTER TABLE [dbo].[PurchaseDatail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDatail_dbo.Client_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseDatail] CHECK CONSTRAINT [FK_dbo.PurchaseDatail_dbo.Client_ClientId]
GO
ALTER TABLE [dbo].[PurchaseDatail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDatail_dbo.Purchase_PurchaseId] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[Purchase] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseDatail] CHECK CONSTRAINT [FK_dbo.PurchaseDatail_dbo.Purchase_PurchaseId]
GO
ALTER TABLE [dbo].[SongSet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SongSet_dbo.AlbumSet_AlbumSetId] FOREIGN KEY([AlbumSetId])
REFERENCES [dbo].[AlbumSet] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongSet] CHECK CONSTRAINT [FK_dbo.SongSet_dbo.AlbumSet_AlbumSetId]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ALBUMSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DELETE_ALBUMSET]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM [dbo].[SongSet]
      WHERE [AlbumSetId] = @Id
	
	DELETE FROM [dbo].[AlbumSet]
      WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SONGSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DELETE_SONGSET]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM [dbo].[SongSet]
      WHERE [Id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ALBUMSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_ALBUMSET]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(max),
	@Image nvarchar(max),
	@Price decimal(18,2)
AS
BEGIN
	SET NOCOUNT ON;

INSERT INTO [dbo].[AlbumSet]
           ([Name]
           ,[Image]
           ,[Price])
     VALUES
           (@Name
           ,@Image
           ,@Price)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SONGSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_SONGSET] 
	-- Add the parameters for the stored procedure here
	@Name nvarchar(max), 
	@AlbumSetId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO [dbo].[SongSet]
           ([Name]
           ,[AlbumSetId])
     VALUES
           (@Name
           ,@AlbumSetId)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ALBUMSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_ALBUMSET]
	@Id int,
	@Name nvarchar(max),
	@Image nvarchar(max),
	@Price decimal(18,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		UPDATE [dbo].[AlbumSet]
		   SET [Name] = @Name
			  ,[Image] = @Image
			  ,[Price] = @Price
		 WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SONGSET]    Script Date: 25/02/2021 1:41:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SONGSET]
	-- Add the parameters for the stored procedure here
	@AlbumSetId int, 
	@Id int,
	@Name nvarchar(max)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE [dbo].[SongSet]
		SET [Name] = @Name
		WHERE [AlbumSetId] = @AlbumSetId AND [Id] = @Id

END
GO
USE [master]
GO
